body{
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  text-align: center;
}
.yellow{
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  background: yellow;
}
.ye{
  background: yellow;
}
.green{
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  background: green;
}
.ge{
  background: green;
}
.red{
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  background: red;
}
.re{
  background: red;
}
.blue{
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  background: blue;
}
.bl{
  background: blue;
}
.white{
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  background: white;
}
.gray {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 40%;
  background: #cccccc;
  height: 80%;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
}
.gr{
  background: #cccccc;;
}
.dynamic{
  position: absolute;
  left: 0px;
  opacity: 0;
}

.indicator{
  position: absolute;
  top: 0px;
  margin-top: -100px;
  height: 100px;
  width: 20%;
}
.first{
  left: 0px;
}
.second{
  left: 20%;
}
.third{
  left: 40%;
}
.fourth{
  left: 60%;
}
.fifth{
  left: 80%;
}


.visible{
  opacity: 1;
  display: block;
}

.control{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 40%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.conditional{
  z-index: 10;
}
.invisible{
  display: none;
}